

*/__pycache__/

.vscode/

__pycache__/

font_test_output/

synthetic_images/

synthetic_labels/

synthetic_xml_labels/

old/

PNG_Files/

labels_yolov8_format/

datasets

datasets2

datasets/**

datasets2/**

*.zip

*.rar

data.ipynb

Possible_Sub.txt

sub_syllables.ipynb

combined_oscar.txt

data/