.env

background/

fonts/

*/__pycache__/

__pycache__/

synthetic_images/

synthetic_labels/

utils/

old/

PNG_Files/

labels_yolov8_format/

datasets

datasets2

datasets/**

datasets2/**

*.zip

*.rar
